@media screen and (min-width:320px) and (max-width:426px){
    .nav{
        display: none;
    }
.navbar{
    width: 100%;
}
.navbar-toggler{
    margin-left: 200px;
    margin-bottom: 50px;
}
.navbar-collapse{
    width: 100%;
    margin-top: -12%;
    background-color: aliceblue;
    /* border: 2px solid rgb(143, 15, 21); */
    /* margin-left: 70px; */
}
.nav-item{
    margin-left: -190px;
    /* border: 2px solid coral; */

}
.page12 input{
    width: 100%;
}


.page14{
    width: 100%;
}
.features{
    display: block;
    width: 100%;
    margin: 0;
    
    /* left: 0; */
}
.f1,.f2,.f3,.f4{
    width: 100%;
    text-align: center;
    margin-bottom: 70px;
    margin-top:70px ;
    height: 40vh;
}
.three{
    display: block;
    margin: 0;
    width: 100%;
}
.basket{
    display: block;
}
.sell1{
    display: block;
    width: 100%;
    margin: 0;
}
.sell2{
    display: block;
    width: 100%;
}
.b2 img{
    width: 100%;
    bottom: 200px;
}
.s1,.s2,.s3,.s4,.s5,.s6{
    width: 100%;
}

.group{
    display: block;
}
.testmonials{
    display: block;
    margin-bottom: 500px;
}
.testmonialss{
    display: inline-block;
    margin-bottom: 500px;
}
.Test1{
    width: 100%;
}
.m23{
    width: 100%;
}
.footer{
    display: block;
}
.foot{
    display: inline-block;

}
.foott{
    display: block;
}
.foot2 input{
    width: 100%;
}
.m2,.m4,.m6,.mm2,.mm4,.mm6{
    
    display: block;
    
}
.foot1{
    font-size: 10px;
}
.page11{
    margin-top: 20px;
}
.page12{
    justify-content: center;
    /* border: 2px solid crimson; */
    margin-left: 65px;
}
.products{
    height: 50vh;
    width: 100%;
}
.all1{
    display: block;
    width: 100%;

    /* border: 2px solid chocolate; */
}
.all2{
    display: block;
    gap: 200px;
    left: 0;



}
.all{
    width:90%;
    margin: auto;
}
.card img,.card-body{
    width: 100%;

    /* border: 2px solid crimson; */
    

}
.card{
   width: 100%;
    margin-top: 100px; 
}
.our{
    text-align: center;
}
.t1,.t2,.t3{
    width: 95%;
    margin-top: 100px;
    height: auto;
}
.t21 img{
    width: 100%;
}
.t3{
    margin-bottom: 200px;
}

.basket{
    width: 100%;
    height: auto;
}
.b1 h2{
width: 100%;
    text-align: center;


}
.b1 button{
    margin-left:-50px;
}
.b1 p{
    width: 100%;
    text-align: end;
}
.sell1{
    margin-bottom:100px;
}
.s1{
    margin-bottom: 100px;
}
.s12 {
    text-align: center;
    
}

.s2{
    margin-bottom: 100px;
}
.s22 {
    text-align: center;
    
}
.s3{
    margin-bottom: 100px;
}
.s32 {
    text-align: center;
    
}
.s4{
    margin-bottom: 100px;
}
.s42 {
    text-align: center;
    
}
.s5{
    margin-bottom: 100px;
}
.s52 {
    text-align: center;
    
}
.s6{
    margin-bottom: 100px;
}
.s62 {
    text-align: center;
    
}
.group{
width: 100%;
}
.g{
    margin-bottom: 100px;
}
.Test1{
    width: 100%;
    border: 2px solid chocolate;
    text-align: center;
    height: auto;
    margin-bottom: 100px;

}
.m2{
    display: flex;
    width: 100%;

}
.m21 img{
    width: 100px;
    height: 20vh;
}

.Test2{
    width: 100%;
    border: 2px solid chocolate;
    text-align: center;
    height: auto;
    margin-bottom: 100px;

}
.m4{
    display: flex;
    width: 100%;

}
.m41 img{
    width: 100px;
    height: 20vh;
}
.Test3{
    width: 100%;
    border: 2px solid chocolate;
    text-align: center;
    height: auto;
    /* margin-bottom: 100px; */

}
.m6{
    display: flex;
    width: 100%;

}
.m61 img{
    width: 100px;
    height: 20vh;
}
.Testt1{
    width: 100%;
    border: 2px solid chocolate;
    text-align: center;
    height: auto;
    margin-bottom: 100px;
    margin-top: -400px;

}
.mm2{
    display: flex;
    width: 100%;
    /* margin-top: 200px;  */

}
.mm21 img{
    width: 100px;
    height: 20vh;
}

.Testt2{
    width: 100%;
    border: 2px solid chocolate;
    text-align: center;
    height: auto;
    margin-bottom: 100px;

}
.mm4{
    display: flex;
    width: 100%;

}
.mm41 img{
    width: 100px;
    height: 20vh;
}
.Testt3{
    width: 100%;
    border: 2px solid chocolate;
    text-align: center;
    height: auto;
    margin-bottom: 100px;

}
.mm6{
    display: flex;
    width: 100%;

}
.mm61 img{
    width: 100px;
    height: 20vh;
}

.footer{
    width: 100%;
    height: auto;
    margin-top: -500px;
}
.foott{
    width: 100%;
    height: auto;
}
.foott1{
    width: 100%;
}
.foott2{
    width: 100%;
}
.foott3{
    width: 100%;
    margin-top: -100px;
}
.foott4{
    width: 100%;
    margin-top: -100px;

}
.footername{
    width: 100%;
    height: auto;
}
.name1{
    width: 100%;
}
.name1{
    width: 100%;
}
.foot2{
    display: block;
    width: auto;
}
}







