/* .three{
    display: flex;
    margin: auto;
    width: 90%;
    justify-content: space-around;
    margin: 200px 100px;
    
}

.t1{
    border: 2px solid brown;
    width: 25%;
    height: 60vh;
    position: relative;


}
.t11 img{
    width: 250px;
    height: 42vh;

}
.t12{
 background-color: brown;
 height:130px;
 width: 100%;
}
.t13{
position:absolute;
bottom: 80px;
left: 35px;
background-color: green;
color: aliceblue;
width: 200px;
text-align: center;
}


.t2{
    border: 2px solid brown;
    width: 25%;
    height: 60vh;
    position: relative;


}
.t21 img{
    width: 335px;
    height: 42vh;

}
.t22{
 background-color: brown;
 height:130px;
 width: 100%;
}
.t23{
position:absolute;
bottom: 80px;
left: 35px;
background-color: green;
color: aliceblue;
width: 200px;
text-align: center;
}



.t3{
    border: 2px solid brown;
    width: 25%;
    height: 60vh;
    position: relative;


}
.t31 img{
    width: 250px;
    height: 42vh;

}
.t32{
 background-color: brown;
 height:130px;
 width: 100%;
}
.t33{
position:absolute;
bottom: 80px;
left: 35px;
background-color: green;
color: aliceblue;
width: 200px;
text-align: center;
}



 */

 